{% extends "lfc/base.html" %}
{% load i18n %}
{% load lfc_tags %}
{% load portlets_tags %}
{% load tagging_tags %}
{% load comments %}

{% block content %}
    {% if lfc_context.display_title %}
        <h1 class="blog-entry">{{ lfc_context.title }}</h1>
    {% endif %}

    <div class="blog-by-line">
        {% trans 'Posted on' %}
        {{ lfc_context.publication_date|date:"d.m.Y" }}
        {% trans 'by' %}
        {% if lfc_context.creator.last_name %}
            <span>{{ lfc_context.creator.first_name }} {{ lfc_context.creator.last_name }}</span>
        {% else %}
            <span>{{ lfc_context.creator.username }}</span>
        {% endif %}                
        {% tags_for_object lfc_context as tag_list %}

        {% if tag_list %}
            {% trans 'within' %}
            {% for tag in tag_list %}
                <a href="{% url lfc_blog_tag_list lfc_context.parent.slug tag %}">
                    {{ tag }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}

        {% get_comment_count for lfc_context as comment_count %}
        |
        {% ifequal comment_count 1  %}
            <a href="{{ lfc_context.get_absolute_url }}#comments">{% trans 'One comment' %}</a>
        {% else %}
            <a href="{{ lfc_context.get_absolute_url }}#comments">{{comment_count}} {% trans 'comments' %}</a>
        {% endifequal %}
    </div>

    <div class="blog-entry">
        {% if lfc_context.get_image %}
            <a href="{{ lfc_context.get_image.image.url_600x600 }}"
               class="photo-image"
               title="{{ lfc_context.get_image.title }}">
                <img class="left"
                     src="{{ lfc_context.get_image.image.url_200x200 }}"
                     alt="{{ lfc_context.get_image.image.title }}"
                     title="{{ lfc_context.get_image.image.title }}" />
            </a>
        {% endif %}
        <div>
            {{ lfc_context.text|safe }}
        </div>
    </div>

    <div class="previous-next-links">
        {# {% previous_next_by_position lfc_context %} #}
    </div>
{% endblock %}